<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>2DG-CGA</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.css"/>
    <style type="text/css">
        .player .life {float: right;}
        .player .oldlife {float: right;}
    </style>
    <script src="jquery-1.7.1.min.js"></script>
    <script src="jquery.mobile-1.1.1.min.js"></script>
    <script src="underscore-min.js"></script>
    <script type="text/javascript">
        $.mobile.defaultPageTransition = 'none';
        Settings = localStorage.settings ? JSON.parse(localStorage.settings) : {player:{life:40,poison:0,commander:0},common:['Me']};
        PlayersCollection = [];
        $(document).on('tap','a[data-action=clear]',function(ev){
            PlayersCollection = [];
            $('#player-set').html('');
        }).on('tap','a[data-action=reset]',function(ev){
            _.each(PlayersCollection,function(player){
                _.extend(player,Settings.player);
            });
            $('#player-set').find('.player').trigger('player:update');
        }).on('tap','a[data-action=save]',function(ev){
			Settings.player = {life: $("#default-life").val()*1};
			_.each($("#default-counters").val().split(" "),function(c){
			    if(c!="") Settings.player[c] = 0;
		    });
            localStorage.settings = JSON.stringify(Settings);
        }).on('tap','a[data-action=unsave]',function(ev){
            localStorage.clear();
			location.reload(true);
        }).on('tap','.player .change-life a',function(ev){
            var value = parseInt($(this).text());
            var player = $(this).closest('.player').data('model');
			if (!player.oldlife) {player.oldlife = +player.life+' >&nbsp;';}
			Timer.start();
			player.life += value;
            $(this).trigger('player:update');
        }).on('tap swipe','.player a[data-ctype]',function(ev){
            var player = $(this).closest('.player').data('model');
            player[$(this).data('ctype')] += (ev.type=='tap')?1:-1;
            $(this).trigger('player:update');
            ev.preventDefault();
        }).on('pagebeforeshow','#list',function(ev){
            var template = _.template($('#player-template').text());
            $('#player-set').empty();
            _.each(PlayersCollection, function(data){
                $(template({player: data})).appendTo('#player-set').data('model',data);
            });
            $('#player-set').trigger('create');
        }).on('pagebeforeshow','#add',function(ev){
            var result = _.template($('#checkbox-template').text(),{list:Settings.common});
            $('#fast-add-list').html(result).trigger('create');
            $('#add-player-form').bind('submit',function(ev){
                _.each($(this).serializeArray(),function(a){
                    if(a.value=='on') addPlayer(a.name);
                    if(a.name=='name' && a.value.length > 0) addPlayer(a.value);
                });
                this.reset();
                $.mobile.changePage('#list');
                return false;
            })
        }).on('pagebeforeshow','#settings',function(ev){
            $('#default-life').val(Settings.player.life);
			var counters = "";
			_.each(Settings.player, function(val,key){
				if(key!="life") counters += key+" ";
			});
			$('#default-counters').val(counters);
        }).on('player:update','.player',function(ev){
            var el = $(this);
            var model = el.data('model');
            _.each(model,function(val,key){
                el.find('.'+key).html(val);
            });
			if (model.oldlife) el.find('.oldlife').show();
			else el.find('.oldlife').hide();
        });
        function addPlayer(name) {
            var data = _.extend({},Settings.player,{name: name});
            PlayersCollection.push(data);
            Settings.common.splice(0,0,name);
            Settings.common = _.uniq(Settings.common);
        };
		var Timer = {
			count: 0,
			start: function(){Timer.count++;setTimeout(this.stop,2000);},
			stop: function(){Timer.count--;if(Timer.count==0)Timer.action();},
			action: function(){
				_.each(PlayersCollection,function(player){delete player.oldlife;});
				$('.player').trigger('player:update');
			}
		};
    </script>
</head>
<body>

<div data-role="page" id="welcome">
    <div data-role="header" data-id="head" data-position="fixed">
        <h1>2DG - CGA</h1>
    </div><!-- /header -->

    <div data-role="content">
		<p>Card Game Assistant is designed to help you track points in your favourite traditional game.</p>
		<p>Tap players to edit them. Press buttons to add points and counters, swipe counters to remove them.</p>
		<p>Remember to save settings if you wish to reuse player names and defaults.</p>
        <a href="#list" data-role="button">Life Counter</a>
        <a href="#settings" data-role="button">Settings</a>
    </div><!-- /content -->
</div><!-- /page -->

<div data-role="page" id="list">

    <div data-role="header" data-id="head" data-position="fixed">
        <h1>2DG - CGA</h1>
    </div><!-- /header -->

    <div data-role="content">
        <div data-role="collapsible-set" id="player-set">
        </div>
        <script id="player-template" type="text/template">
            Anything
            <div data-role="collapsible" class="player">
                <h3>
                    <span class="name"><%= player.name %></span>
                    <span class="life"><%= player.life %></span>
                    <span class="oldlife"></span>
                </h3>
                <p>
				<div data-role="controlgroup" data-type="horizontal" class="change-life">
                    <a href="#" data-role="button">+5</a>
                    <a href="#" data-role="button">+1</a>
                    <a href="#" data-role="button">-1</a>
                    <a href="#" data-role="button">-5</a>
                </div>
				<% _.each(player,function(val,key){ if(key=="life" || key=="name") return; %>
                <a href="#" data-role="button" data-ctype="<%= key %>" data-inline="true">
                   <%= key %> (<span class="<%= key %>">0</span>)
                </a>
				<% }); %>
                </p>
            </div>
        </script>
    </div><!-- /content -->

    <div data-role="footer" class="ui-bar" data-position="fixed">
		<a href="#add" data-role="button" data-icon="plus">Add</a>
		<a href="#" data-role="button" data-icon="refresh" data-action="reset">Reset</a>
	    <a href="#" data-role="button" data-icon="delete" data-action="clear">Clear</a>
	    <a href="#settings" data-role="button" data-icon="gear">Settings</a>
    </div><!-- /footer -->

</div><!-- /page -->

<div data-role="page" id="add">
    <div data-role="header" data-id="head" data-position="fixed">
        <h1>Add player</h1>
    </div><!-- /header -->
    
    <div data-role="content">
        <form action="" method="post" id="add-player-form">
            <label for="pname">Name:</label>
            <input type="search" name="name" id="pname" value=""/>
            <input type="submit" value="Add"/>
            <div id="fast-add-list"></div>
            <script id="checkbox-template" type="text/template">
              <fieldset data-role="controlgroup">
                <legend>Fast add:</legend>
                <% _.each(list,function(name){ %>
                <label><input type="checkbox" name="<%= name %>"/><%= name %></label>
                <% }); %>
              </fieldset>
            </script>
        </form>
    </div><!-- /content -->

    <div data-role="footer" class="ui-bar" data-position="fixed">
		<a href="#list" data-role="button" data-icon="delete">Cancel</a>
	    <a href="#settings" data-role="button" data-icon="gear">Settings</a>
    </div><!-- /footer -->
</div><!-- /page -->

<div data-role="page" id="settings">
    <div data-role="header" data-id="head" data-position="fixed">
        <h1>Settings</h1>
    </div><!-- /header -->
    
    <div data-role="content">
		<p>Settings data (like favourite player names) will be persistently stored in localStorage.</p>
        <label for="default-life">Starting points:</label>
		<input id="default-life" name="life" type="number" value=""/>
        <label for="default-counters">Additional counter types:</label>
		<input id="default-counters" name="counters" type="text" value=""/>
        <a href="#list" data-role="button" data-rel="back" data-action="save">Save Settings</a>
        <a href="#" data-role="button" data-action="unsave">Clear Settings</a>
    </div><!-- /content -->

    <div data-role="footer" class="ui-bar" data-position="fixed">
		<a href="#list" data-role="button" data-rel="back" data-icon="delete">Cancel</a>
    </div><!-- /footer -->
</div><!-- /page -->

</body>
</html>
